{% extends 'base.html.twig' %}


{% block content %}
  <div class="row">
    <form method="post" class="holidays" action="/holidays">
      <div class="form-group">
        <label for="year-choice">Choose year:</label>
        <select class="form-control" list="years" id="year-choice" name="year-choice">
          <option selected disabled>Select year</option>
          {% for i in 0 .. 20 %}
            <option value="{{ 2015 + i }}">{{ 2015 + i }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label for="country-choice">Choose country:</label>
        <input class="form-control" list="countries" id="country-choice" name="country-choice"/>
        <datalist id="countries">
          {% for country in countries %}
            <option value="{{ country.country }}" data-country="{{ country.country }}">
            {% endfor %}
        </datalist>
      </div>
      <button type="submit" class="btn btn-primary" name="submit">Get Holidays</button>
    </form>
  </div>
{% endblock %}

