@import "../variables/colors";
// Colorings
body {
    background: $color__paper;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    padding-bottom:25px;
}

.page-header {
    border-bottom: 1px solid $color__type-paper;
    box-shadow: 3px 5px 18px $color__dark-vanilla;

}

.page-footer {
    border-top: 1px solid $color__ink;
}

.container-fluid {
    padding: 0;
}

.card-body {
    background-color: $color__paper;
    .row {
        border-bottom: 1px solid $color__ink;
    }
}