@import "../variables/colors";
// Colorings
body {
    color: $color__ink;
    background: $color__paper;
}

a {
    color: $color__ink;
    &:hover {
        color: $color__ink;
        text-decoration: none;
    }
}

.page-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 100vh;
    padding-bottom:25px;
}

.page-header {
    border-bottom: 1px solid $color__type-paper;
    box-shadow: 3px 5px 18px $color__dark-vanilla;
}

.content {
    margin: 0 1rem;
    @media (min-width: 576px) {
        margin: 0 auto;
    }
    .violations {
        margin: 2rem 0 .5rem 0;
    }
    padding-bottom: 2.5rem;
    .search-info {
        padding: 0 1rem;
        border-bottom: 1px solid $color__dark-vanilla;
        div {
            color: #444444;
        }
    }
    .card-header {
        padding: .25rem .75rem;
    }
    .card-body {
        padding: .75rem;
    }
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    border-top: 1px solid $color__ink;
}

.container-fluid {
    padding: 0;
}

.card-body {
    background-color: $color__paper;
    .row {
        border-bottom: 1px solid $color__ink;
    }
}